<?xml version="1.0" encoding="UTF-8"?>
<config>
	
	<config-name>social-widget</config-name>
	<depends>zul</depends>
	
	<!--  
	<version>
		<version-class>org.zkoss.theme.breeze.Version</version-class>
		<version-uid>5.0.7</version-uid>
	</version>
	-->
	
	<language-config>
		<language-uri>/metainfo/zk/lang-facebook.xml</language-uri>
		<!-- twitter, plurk -->
	</language-config>
	
</config>
